<div class="job-form">
  <div class="job-form-blurb">
    <h3 class="color-white">Receive Alerts</h3>
    <p>Sign up to receive email notifications for when we open next year’s fellowship session. Don’t worry, you’ll only hear from us if it’s about the Azavea open source fellowship</p>
  </div>
  <form action="https://azavea.us1.list-manage.com/subscribe/post?u=61da999c9897859f1c1fff262&amp;id=517ce57b5e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <div class="form-group">
      <label for="mce-EMAIL-modal">Email Address <span>*</span>
      </label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL-modal">
    </div>
    <div class="form-group">
      <label for="mce-FNAME">First Name <span>*</span>
      </label>
      <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
    </div>
    <div class="form-group">
      <label for="mce-LNAME">Last Name <span>*</span>
      </label>
      <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
    </div>
    <div class="form-group disabled">
      <div class="hide" aria-hidden>
        <input checked type="checkbox" value="128" name="group[6293][128]" id="mce-group[6293]-6293-7">
      </div>
      <label for="mce-group[6293]-6293-7" disabled>Department</label>
      <select name="group[6293][128]" id="mce-group[6293]-6293-7" disabled>
        <option value="mce-group[6293]-6293-7" selected>Fellowships</option>
      </select>
    </div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_61da999c9897859f1c1fff262_517ce57b5e" tabindex="-1" value="">
    </div>
    <div class="btn-group">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
      <a href="#close" rel="modal:close" class="btn btn-secondary close-button">Close</a>
    </div>
  </form>
</div>