<section>
  <div class="container">
    <div class="inner-content">
      <div class="content-header">
        <span class="content-mini-title">
          {{ page.qualifications.above-title }}
        </span>
        <h2 class="content-title">
          {{ page.qualifications.title }}
        </h2>
      </div>
      <p class="content-blurb">{{ page.qualifications.blurb }}</p>
      <a href="#" class="btn btn-primary">Learn more</a>
    </div>
    <div class="row">
      <div class="carousel"></div>
    </div>
  </div>
</section>