---
layout: default
page_class: secondary
use-post-hero: true
---
<section>
  <div class="container post-container">
    <div class="inner-content">
      {{ content }}
    </div>

    <!-- Post attributes -->
    <div class="post-attributes">
      {% if page.requirements %}
      <div class="attribute-section">
        <strong>Requirements</strong>
        <ul>
          {% for req in page.requirements %}
          <li>{{ req }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if page.mentors %}
      <div class="attribute-section">
        <strong>Mentors</strong>
        <ul>
          {% for mentor in page.mentors %}
          <li>
            <a href="https://github.com/{{ mentor }}" title="@{{ mentor }} on github">
              @{{ mentor }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if page.issues %}
      <div class="attribute-section">
        <strong>Related issues</strong>
        <ul>
          {% for issue in page.issues %}
          <li>
            <a href="{{ issue.link }}" title="{{ issue.title }}">
              {{ issue.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if page.difficulty %}
      <div class="attribute-section">
        <strong>Difficulty</strong>
        <p>{{ page.difficulty }}</p>
      </div>
      {% endif %}
    </div>
  </div>
</section>